@import url('https://fonts.googleapis.com/css?family=Fire+Mono|Hind|Montserrat');

* {
    box-sizing: border-box;    
}

html {
    height: 100%;
    font-size: 16px;
}

::-moz-selection { 
    background-color: #333;
    color: #FAFAFA; 
}

::selection { 
    background-color: #333;
    color: #FAFAFA; 
}

body {
    font-family: 'Hind', serif;
    color: #555;
    background-color: #FAFAFA;
    padding: 4rem;
    height: 100%;
    max-width: 74rem;
    margin: 0 auto;
    line-height: 1.2;
    position: relative;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    line-height: 1.2;
    margin: 1rem 0;
    color: #333;
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-size: 2.75rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2.25rem;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.75rem;
}

h6 {
    font-size: 1.5rem;
}

aside {
    float: right;
}

i,
em,
b,
strong {
    padding: 0.1em 0.5em;
    background-color: #EEEEEE;
}

b,
strong {
    font-weight: bold;
    color: #111;
}

i,
em {
    font-style: italic;
}

mark {
    background-color: #C0FFEE;
    padding: 0.1em 0.5em;
}

p a, 
p a + a {
    margin: 0;
    padding: 0; 
    color: #222;
    text-decoration: underline;
}

pre {
    background-color: #333;
    font-family: "Fira Code", monospace;
    color: #EEE;
    padding: 1rem;
    margin: 1rem;
    overflow: auto;
}

code {
    background-color: #333;
    font-family: "Fira Code", monospace;
    color: #EEE;
    padding: 0.1em 0.5em;
}

blockquote {
    margin: 1rem 5rem;
    border-left: 0.5rem solid #AAA;
    padding: 1rem;
    background-color: #EEE;
}

a {
    text-decoration: none;
    color: #666;
    padding: 0.5rem 0.75rem;
    text-align: center;
    cursor: pointer;
}

a:hover,
.nav-burger:hover {
    color: #555;
    background-color: #EEEEEE;
}

a + a {
    margin-left: 1rem;
}

nav {
    width: 100%;
    display: block;
    height: 6rem;
    border-bottom: 1px solid #EAEAEA;
}

nav > *:not(aside) {
    float: left;
}

nav > header > *:first-child {
    margin-top: 0;
}

nav > header > * + * {
    margin-top: -1rem;
}

main {
    margin-top: 1rem;
    height: calc(100% - 7rem);
    overflow: auto;  
    line-height: 1.7;
    padding-right: 2rem;
}

main p + p {
    margin-top: 1rem;
}

section > header {
    margin-bottom: 1.5rem;
    position: relative;
}

section > header > h6,
section > header > h5,
section > header > h4,
section > header > h3,
section > header > h2,
section > header > h1 {
    display: inline-block;
}

section > header > time {
    display: inline;
}

section > header > time:before {
    content: "Posted at: ";
    margin-left: 0.5em;
}

section > header > time:after {
    content: "";
    display: block;
}

section > header > a {
    background-color: #333;
    color: #EAEAEA;
    margin-left: -0.25rem;
    margin-right: 0.5rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
    display: inline-block;
    font-size: 0.75rem;
}

section > header > a:hover {
    background-color: #555;
    color: #EAEAEA;
}

footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    padding: 1rem 0;
    width: calc(100% - 8rem);
    font-size: 0.9rem;
    font-family: "Monserrat", sans-serif;
    border-top: 1px solid #EAEAEA;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.nav-burger {
    display: none;
    cursor: pointer;
    border: 0.5rem solid transparent;
    position: relative;
}

.nav-burger *[class*="burger-bar"] {
    width: 1em;
    height: 0.2em;
    background-color: #AAAAAA;
    margin: calc(0.4em / 3) 0;
    transition: 0.4s ease;
}

.nav-burger .dropdown-toggle {
    position: absolute;
    height: 140%;
    width: 140%;
    top: -20%;
    left: -20%;
    opacity: 0;
}

.nav-burger .dropdown:before {
    content: "";
    position: absolute;
    display: block;
    width: 1em;
    height: 1em;
    top: -0.5rem;
    right: 1.5rem;
    background-color: inherit;
    transform: rotate(45deg);
}

.nav-burger .dropdown {
    position: absolute;
    margin: 0;
    list-style: none;
    top: 3rem;
    right: -1.5rem;
    background-color: #333;
    z-index: 1;
    padding: 1rem;
    text-align: right;
    transition: 0.5s ease-in-out;
    display: none;
    opacity: 0;
}

.nav-burger .dropdown-toggle:checked + .dropdown {
    display: block;
    opacity: 1;
}

.nav-burger .dropdown li a {
    font-size: 1rem;
    padding: 0.5rem;
    width: 100%;
    display: block;
    text-align: right;
}

/* Breakpoints */
@media all and (max-width: 880px) {
    html {
        font-size: 14px;
    }
}

@media all and (max-width: 640px) {
    html {
        font-size: 14px;
    }

    body {
        padding: 2rem;
    }

    main {
        height: calc(100% - 9rem);
    }

    footer {
        width: calc(100% - 4rem);
    }

    .nav-links {
        display: none;
    }

    .nav-burger {
        font-size: 18px;
        display: inline-block;
    }
}

@media all and (max-width: 500px) {
    section header h1,
    section header time {
        display: block;
    }
    
    section header h1 {
        margin-bottom: 0;
    }

    section header time {
        margin-bottom: 1rem;
    }

    section header time:before {
        margin-left: 0;
    }
}
